<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319934429468-hdcqqtiv866t75artvqc1v9hhmm81tfu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319934429468-hdcqqtiv866t75artvqc1v9hhmm81tfu</string>
	<key>API_KEY</key>
	<string>AIzaSyBI2A5M3DwXMMXIMm3R1wJBwclIvNAwxZo</string>
	<key>GCM_SENDER_ID</key>
	<string>319934429468</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.c25kenneth.goGallery</string>
	<key>PROJECT_ID</key>
	<string>go-gallery-87a9e</string>
	<key>STORAGE_BUCKET</key>
	<string>go-gallery-87a9e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319934429468:ios:e8ca109d69d42d6f4fe2d9</string>
</dict>
</plist>